.container
  .wiki
    = form_for @wiki do |f|
      .field.input-group.wiki-title
        = f.label :title
        = f.text_field :title, autofocus: true, class: "form-control"
      .wiki-body
        = f.label :body
        = f.text_area :body, class: "form-control wiki-body"
      - if current_user.premium? || current_user.admin?
        .field.radio.wiki-private
          = f.check_box :private
          = f.label :private
      - else
        .field.radio.wiki-private
          = f.check_box :private, disabled: true
          = f.label :private
          (Premium users)
      .wiki-save
        = f.submit "Save", class: "btn"