<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-8 col-xl-10">
            <h1><%= @wiki.title =%></h1>
            <p><%= markdown(@wiki.body) =%></p>
        </div>
        <div class="col-md-12 col-lg-4 wiki-info">
            <div class="info-box">
                <h3>Created By <%= @wiki.user.username =%></h3>
                <h4>Private Wiki: <%= @wiki.private =%></h4>
                <h5><em>Created at <%= @wiki.created_at =%></em></h5>
                <h3>Collaborators:</h3>
                <div class="info-collaborators">
                    <p><% @collab_users.each do |w| %>
                            <%= w.username + ", " %>
                            <% if user_signed_in?%>
                                <% if policy(@wiki).destroy? %>
                                    <%= link_to 'delete', wiki_collaborator_path(@wiki, w.id), :method => :delete, class: "delete", data: { confirm: 'Are you sure you want to remove this user as a collaborator' } %>
                                    </br>
                                <% end %>
                            <% end %>
                    <% end %></p>
                </div>
                <div class="buttons">
                    <% if user_signed_in?%>
                        <% if policy(@wiki).update? %>
                            <%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-info' =%></h4>
                        <% end %>
                        <% if policy(@wiki).destroy? %>
                            <%= link_to "Delete", @wiki, method: :delete, class: "delete", data: { confirm: 'Are you sure you want to delete the wiki?' } %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>