<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h1><%= @wiki.title =%></h1>
            <p><%= markdown(@wiki.body) =%></p>
        </div>
        <div class="col-xs-6 col-md-4 wiki-info">
            <div class="info-box">
                <h3>Created By <%= @wiki.user.username =%></h3>
                <h4>Private Wiki: <%= @wiki.private =%></h4>
                <h5><em>Created at <%= @wiki.created_at =%></em></h5>
                <div class="buttons">
                    <% if user_signed_in?%>
                        <% if policy(@wiki).update? %>
                            <%= link_to "Edit Wiki", edit_wiki_path(params[:id]), class: 'btn btn-info' =%></h4>
                        <% end %>
                        <% if policy(@wiki).destroy? %>
                            <%= link_to "Delete", @wiki, method: :delete, class: "delete", data: { confirm: 'Are you sure you want to delete the wiki?' } %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>