<div class="container">
    <h1><%= @wiki.title =%></h1>
    <p>Private: <%= @wiki.private =%></p>
    <h3>Created By <%= @wiki.user.username =%></h3>
    <h4>Created at <%= @wiki.created_at =%></h4>
    <hp><%= @wiki.body =%></p>
    <% if delete? %>
        <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete the wiki?' } %>
    <% end %>
    <% if authorize_current_user? %>
        <%= link_to "Edit", edit_wiki_path(params[:id]) =%></h4>
    <% end %>
</div>